@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;1,400&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
a,button {
   font-family: Roboto Condensed ; 
   font-weight: 500;
   font-size: 20px;
   color: white;
   text-decoration: none;
}
header {
    display: flex;
    justify-content: space-between;
    background-color:rgb(46, 204, 113)  ;
    align-items: center;
    padding: 20px 8%;
}
h5{
    font-family: Roboto Condensed ; 
}
.logo {
    cursor: pointer;
    
}
.nav-link {
    list-style: none;
    display: block;
    padding: 0px 10px;
}
.nav-link {
    display: block;
    padding: 0px 20px;
}
.nav-link a{
    transition: all 0.3s ease 0s;
    padding: 50px;
}
.nav-link a:hover {
    color:rgb(30, 132, 73) ;
}
button {
    padding: 9px 25px;
    background-color:rgb(52, 152, 219 ) ;
    border: none;
    border-radius: 50px;
    cursor:pointer ;
    transition: all 0.3s ease 0s;
}
button:hover {
    background-color:rgb(26, 82, 118,0.8) ;
}

body {
    background-color: rgb(171, 235, 198 );
}
.ID-Card-layout{
    color: white;
    display: flex;
    margin: 5% 5% 5% 10%;
}
.card-info{
    padding: 30px ;
    width: 250px;
    height: 350px;
    margin: 0 5% 0 0;
    padding: 2% 2% 4% 2%;
    background-color:#2E86C1 ;
    border-radius: 4%;
}
.card-info ul{
    list-style-type: none;
}
.card-info li{
    margin: 5px;
    font-family: Roboto Condensed ; 
}

.card-info:hover {
    background-color:rgb(36, 113, 163) ;
}
.card-info label{
    margin: 4%;
    font-family:Roboto Condensed;
}
.card-info input{
    margin: 4%;
    height: 25px;
    border-radius:5px;
    border: 0px;
}
.card-info button{
    color: black;
    padding: 9px 25px;
    margin:10px 30px 10px 45px;
    background-color:rgb(253, 254, 254) ;
    border: none;
    border-radius: 0;
    cursor:pointer ;
    transition: all 0.3s ease 0s;
}

footer {
    background-color:rgb(14, 98, 81) ;
    text-align: center;
    box-sizing: border-box;
    display: block;
}
.footer {
    border-top: 5px solid rgb(14, 98, 81);
    display: flex;
}
.footer  img{
    margin: 2% 2% ;
    height: 150px;
    width: 150px;
}
.footer ul {
    margin: 2%;
}
.footer ul p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 1000;
    font-size: 15px;
    
}
.footer ul li{
    
    list-style: none;
    margin: 5px 0 5px 10px;
    font-family:Roboto Condensed;
}
p {
    margin: 10px;
    text-align: center;
}
